<div class="home">
  <div class="bg-center">
    <div class="row">
      <div class="small-9 columns">
        <h1><%= t '.punchline' %></h1><a class="about" href="#"><%= t '.punchline_about' %> &rarr;</a>
      </div>
      <div class="small-3 columns">
        <p class="come-on"><%= t '.come_on' %></p>
        <a class="signup-button" href="#signup" data-reveal-id="signup"><%= t '.signup_button' %></a>
        <a class="signin-button" href="#" data-reveal-id="signin"><%= t '.signin_button' %></a>
      </div>
    </div>
  </div>
</div>
<!-- Reveals -->
    <!-- Signup -->
    <div id="signup" class="form-reveal reveal-modal tiny signup-reveal" data-reveal>
      <h4><%= t '.signup_form_title' %></h4>
      <%= form_for(:user, :url => registration_path(:user)) do |f| %>
         <div class="row collapse">
          <div class="small-3 large-2 columns">
            <%= f.label :username, :class => 'prefix' %>
          </div>
          <div class="small-9 large-10 columns">
            <%= f.text_field :username, autofocus: true, :placeholder => t('.signup_form_username_placeholder') %>
          </div>
        </div>

        <div class="row collapse">
          <div class="small-3 large-2 columns">
            <%= f.label :email, :class => 'prefix' %>
          </div>
          <div class="small-9 large-10 columns">
            <%= f.email_field :email, :placeholder => t('.signup_form_email_placeholder') %>
          </div>
        </div>

         <div class="row collapse">
          <div class="small-3 large-2 columns">
            <%= f.label :password, :class => 'prefix' %>
          </div>
          <div class="small-9 large-10 columns">
            <%= f.password_field :password, autocomplete: "off", :placeholder => t('.signup_form_password_placeholder') %>
          </div>
        </div>
        <%= f.submit t('.signup_form_submit_button'), :class => 'button success expand radius' %>
      <% end %>
    </div>
    <!-- End Signup -->
    <!-- Signin -->
    <div id="signin" class="form-reveal reveal-modal tiny signin-reveal" data-reveal>
      <h4><%= t '.signin_form_title' %></h4>
      <%= form_for(:user, :url => session_path(:user)) do |f| %>

        <div class="row collapse">
          <div class="small-3 large-2 columns">
            <%= f.label :email, :class => 'prefix' %>
          </div>
          <div class="small-9 large-10 columns">
            <%= f.email_field :email, autofocus: true, placeholder: t('.signin_form_username_email_placeholder') %>
          </div>
        </div>

        <div class="row collapse">
          <div class="small-3 large-2 columns">
            <%= f.label :password, :class => 'prefix' %>
          </div>
          <div class="small-9 large-10 columns">
            <%= f.password_field :password, autocomplete: "off", placeholder: t('.signin_form_password_placeholder') %>
          </div>
        </div>

        <div class="row">
          <%= f.check_box :remember_me, checked: true %>
          <%= f.label :remember_me %>
        </div>

        <%= f.submit t('.signin_form_submit_button'), :class => 'button success expand radius' %>
      <% end %>
    </div>
    <!-- End Signin -->
<!-- End Reveals -->
